.cardcontainer {
    width: 145px;
    height: 170px;
    
    background: rgba(236,199,191,1);
    opacity: 1;
    position: absolute;
    top: 60px;
    left: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.25);
  }
 
  .logo_pic {
    width: 60px;
    height: 60px;
    opacity: 1;
    position: absolute;
    top: 14px;
    left: 42px;
    border-radius: 50%;
  }
  .titleOdjel {
    width: 66px;
    color: rgba(59,47,59,1);
    position: absolute;
    top: 85px;
    left: 39px;
    font-family: Poppins;
    font-weight: SemiBold Italic;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .descOdjel {
    width: 56px;
    color: rgba(59,47,59,1);
    position: absolute;
    top: 112px;
    left: 13px;
    font-family: Poppins;
    font-weight: Medium Italic;
    font-size: 13px;
    opacity: 1;
    text-align: center;
  }